body {
  font-family: 'Marvel', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  background-color: #483502; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Marvel', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #f6e9d4;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }

h1 {
  font-weight: 700; }

